{% load static %}



	    <link rel="stylesheet" href="{% static 'css/base.css' %}">


		{% block content %}
	{% endblock %}
        <footer>
        <div class="footer">
          <li id="dev" >DEVELOPERS</li><br>
          <li id="abt" >ABOUT US</li><br>
          <p id="devv" >Team VerumWeb</p><br>
          <p id="abtus" >Here you can find lot of teachers name where u can comment your opinion and also rate them up to 5 stars ! </p>
          <p id="note" >NOTE! This is just a beta verion</p>
          
          </div>
	</footer>


